body{
  background-image: url("login.jpg");
}

div#container{
    margin: auto;
    padding: auto;
    text-align: center;
}

div#body1{
    border-style: inset;
    border-width: 5px;
    background-color: #ffffff;
}

div#body2{
    border-style: double;
    border-width: 5px;
    margin: 10px;
    padding: 0px;
    width: 90%;
    height: 90%;
}

div#game-score{
  background-color: rgb(255, 255, 255);
  text-align: center;
}
table#score{
  font-size: 14px;
  border:solid rgb(10, 10, 10) 1px;
	border-radius: 10px;
  margin: 0px auto;
  box-shadow: 0 1px 1px #ccc;
  background-color: #dce9f9;
}
#score td{
  border-right:solid rgb(10, 10, 10) 1px;
  border-bottom: solid rgb(10, 10, 10) 1px;
  padding: 10px;
  text-align: center;
}
div#gameBody{
    border-spacing: 0;
    border: 1px solid rgb(233, 231, 231);
    padding: 0px;
    text-align: center;
}
table#gameBoard{
    margin: auto;
    border: 1px solid black;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content:center;
}
table.Board{
    border: 3px solid black;
}
.BoardElement{
    margin: auto;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 0px;
}

div.Cell{
  width: 30px;
  height: 30px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.hidden{
    display: none;
}

div#select-row{
  display: none;
  justify-content:center;
  margin: 0px auto;
  padding: 0px auto;
  text-align: center;
}

div.select-input{
  display: inline;
  border: 1px solid black;
  padding: auto;
  width: 30px;
  height: 30px;
  background-color: #FFFAFA;
  cursor: pointer;
}

div.select-input:hover{
  background-color: 	#90EE90;
}

div.select-input:active{
  background-color: #00BFFF;
}

div.Unknown:hover{
  background-color: 	#90EE90;
}

div.selected{
  background-color: #00BFFF;
}

.wrong{
  border-color: red;
}




