<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="735505642068-elr54io1fqes6cuq6k39pjvnij7ujrq8.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Sudoku.oni</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<% if (determine == 2) {%>
<script>window.setTimeout(function(){$("#toSignin").trigger("click");}, 1000);</script>
<% } %>
<div class="page">
    <div class="panel">
        <div class="panel_visible">
            <!--Sign up-->
            <div class="panel_content">
                <h1 class="panel_title">  Sign Up </h1>
                <% if(determine == 0) {%>
                    <% if (signupMessage != ""){ %>
                        <div id="alt_warning" class = "alert alertwarning">
                            <%= signupMessage%>
                        </div>
                    <% } else {%>
                        <div id="enrollReminder">
                            <p>Sign up Success!</p>
                            <script>
                                window.setTimeout(function(){
                                    $("#toSignin").trigger("click");
                                }, 1000);
                            </script>
                        </div>
                    <% } %>
                <% } %>
                <form class="form" id="sinp" action="/update" method="POST" name="nyForm">
                    <label class="form_label" for="username">Username</label>
                    <input class="form_input" type="text" id="username" name="username">
                    <label class="form_label" for="password">Password</label>
                    <input class="form_input " type="password" id="password" name="password">
                    <label class="form_label" for="Confirm password">Confirm Password</label>
                    <input class="form_input " type="password" id="Confirmpassword" name="Confirm password" onchange="checkRepeat()">
                    <label class="form_label" for="email">Email</label>
                    <input class="form_input" type="text" id="em" name="email" onchange="checkEmail()">
                    <button class="form_btn" type="submit" id="signup">Submit</button>
                </form>
                <button class="form_toggle js-formToggle" type="button" id="toSignin">Or, Sign In</button>
            </div>
            <!--Sign in-->
            <div class="panel_content panel_content-overlay js-panel_content ">
                <h1 class="panel_title">  Sign In </h1>
                <% if(determine == 0) {%>
                    <% if (signupMessage != ""){ %>
                        <div id="alt_warning" class = "alert alertwarning">
                            <%= signupMessage%>
                            <script>
                                window.setTimeout(function(){
                                    $("#toSignin").trigger("click");
                                }, 1000);
                            </script>
                        </div>
                    <% } %>
                <% } %>
                <form action="/login" method="POST" class="form" id="loginIn">
                    <label class="form_label" for="usernameIn">Username</label>
                    <input class="form_input" type="text" id="usernameIn" name="usernameIn">
                    <label class="form_label" for="passwordIn">Password</label>
                    <input class="form_input " type="password" id="passwordIn" name="passwordIn">
                    <button class="form_btn" type="submit" id="signin">Sign In</button>
                </form>
                <button class="form_toggle js-formToggle" type="button" id="toSignup">Or, Sign Up</button>
                <div class="g-signin2" ></div>
                <div id="content"></div>
            </div>
        </div>
        <div class="panel_back js-imageAnimate">
            <img class="panel_img" src="stylesheets/login1.jpg" />
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>
